* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url(./assets/img2.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 case;
  text-align: center;
}
.imgWeather {
  width: 5rem;
}

.app.wcold {
  background-image: url(./assets/clouds.jpg);
}

.app.wheat {
  background-image: url(./assets/sunny.jpg);
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 20px 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin-top: -25px;

  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;

  transition: 0.4s case;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

/* .weather {
  color: #525456;
  text-shadow: 2px 2px rgb(50 50 70 / 50%);
} */

.location-box .location,
.weather {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.location-box .date {
  color: #fff;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 15px 25px;
  color: #525456;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .minMax,
.location-box .date {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 30%);
}

@media only screen and (min-width: 768px) {
  .search-box .search-bar {
    display: inline-block;
    width: 50%;
  }
}
